# Core AWS & Airflow
apache-airflow==2.8.1
apache-airflow-providers-amazon
apache-airflow-providers-slack

# AWS CLI / SDK
boto3
awscli

# Flask session support (for Airflow web UI)
flask-session

# ML / DS Libraries
pandas
scikit-learn
xgboost==1.7.6
lightgbm
seaborn
matplotlib
imblearn

# Misc
kaggle
xmlsec
