# Core Airflow + Providers
apache-airflow==2.8.1
apache-airflow-providers-amazon
apache-airflow-providers-slack

# AWS CLI & SDK
boto3
awscli
botocore

# Flask session fix for Airflow
flask-session==0.3.2

# ML/DS
pandas
scikit-learn
xgboost==1.6.1
lightgbm
matplotlib
seaborn
kaggle

# XML Signing (optional)
xmlsec
