scikit-learn
psutil==5.9.5 
xgboost==1.7.6
matplotlib
jupyter
awscli
kaggle
seaborn
lightGBM
imblearn
apache-airflow==2.8.1
boto3
pandas
xmlsec
slack-sdk
apache-airflow-providers-slack
apache-airflow-providers-amazon
flask-session